.container {
  border-radius: 6px;
  background-color: white;
  .bg {
    width: 100%;
    height: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .imageContainer {
    translate: 0 -50%;
    .image {
      height: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      margin: auto;
      border: 4px solid white;
    }
  }

  .name {
    margin-top: -20px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-align: center;
    font-weight: bolder;
  }

  .designation {
    white-space: nowrap;
    text-align: center;
    opacity: 0.6;
    font-size: 0.7em;
  }

  .moreDetails {
    margin: 15px 10px;
    display: flex;
    justify-content: space-evenly;

    .divider {
      border-right: 1px solid red;
      margin: 0 10px;
    }
    .options {
      text-align: center;
      & > *:first-child {
        font-weight: bolder;
        flex-grow: 1;
      }
      & > *:last-child {
        opacity: 0.6;
        font-size: 0.7em;
        flex-grow: 1;
      }
    }
  }
}
