.container {
  background-color: white;
  display: flex;
  padding: 1rem;
  border-radius: 6px;
  gap: 1rem;
  .imageContainer {
    flex: 0 1 auto;
    background-image: linear-gradient(#6b98ea, #3c78e2);
    border-radius: 10px;
    padding: 1rem;
    * {
      color: white;
    }
  }

  .mainPart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .heading {
      color: #6c6d6f;
      letter-spacing: -1px;
      font-size: 0.9rem;
      font-weight: 400;
    }
    .value {
      font-weight: bold;
    }
  }
  .change {
    flex: 0 1 auto;
    margin-top: auto;
    font-weight: bold;
  }
}
