.sideBar {
  height: 100vh;
  min-width: 15rem;
  padding: 1rem 1rem 0;
  overflow: auto;
  position: sticky;
  top: 0;
  scrollbar-width: none; // mozilla
  &::-webkit-scrollbar {
    display: none;
  }

  .collapseSidebarBtn {
    color: #5b6079;
    float: right;
  }

  .menuOptionContainerInactive {
    color: #5b6079;
  }
  .menuOptionContainerActive {
    color: #f5faff;
  }

  .menuGroupHeading {
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #5b6079;
    padding: 1.5rem 0px 0.5rem;
  }

  .mainOption {
    display: flex;
    gap: 1rem;
    padding-top: 13px;
    .menuOptionName {
      flex-grow: 1;
    }
  }
  .subMenuOption {
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .sideBar {
    background-color: #020424;
    position: fixed;
    z-index: 1;
    left: -20rem;
  }
}
