.headerWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  .heading {
    font-weight: 500;
    letter-spacing: -0.5px;
  }
  .options {
    * {
      margin-left: 1rem;
    }
  }
}
